<form action="/shelters" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<h1>Enter a new shelter record:</h1>
<p>Shelter Name</p>
<input type='text' name='shelter_name'/><br/>
<p>Address</p>
<input type='text' name='address'/><br/>
<p>Is Case Management Available?</p>
<input list="case_management_available">
<datalist id="case_management_available">
  <option value="true">
  <option value="false">
</datalist>
<p>Capasity</p>
<input type='text' name='capasity'/><br/>
<input type='submit'/>
</form>


</datalist>