<!DOCTYPE html>
<html>
<head>

<h1>Welcome to the Disaster Shelter Database</h1>
</head>
<body>

  <p><li><a href="/shelters">Disaster Shelters</a></li></p>
  <p><li><a href="/residents">Resident List</a></li></p>


</body>
</html>