<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="mystyle.css"

  <ul>
    <li><a href="/">Welcome Page</a><li>
    <li><a href="/shelters">Shelter List</a><li>
    <li><a href="/residents">List of All Residents</a></li>
  </ul>
</head>

<body>

<form action="/shelters/<%= @shelter.id %>/new" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<h1>Enter a new associated resident record:</h1>
<p>Family Name</p>
<input type='text' name='family_name'/><br/>
<p>Long Term Housing Needed?</p>
<input type='text' name='long_term_housing_need'/><br/>
<p>Family Size</p>
<input type='number' name='family_size'/><br/>
<input type="hidden" name="shelter_id" value="<%= @shelter.id %>">
<input type='submit', value='Add New Resident Record'/>

</form>
</body>
</html>

